ul#discussion {
    top: 20px;
    bottom: 20px;
    left: 20px;
    right: 20px;
    min-height: 149px;
    max-height: 149px;
    overflow: auto;
    margin: 0;
    padding: 0;

    border: 2px solid #ccc;
}

li.discussion_message {
    padding: 5px 15px;

    border-top: 1px solid #ccc;
}

.discussion_message.discussion_joueur {
    background-color: azure;
}

.discussion_message.discussion_mj {
    background-color: darkkhaki;
}

div.discussion-flottant {
    width: 42%;
}

@media (max-width: 994px) {
    div.discussion-flottant {
        width: 100%;
    }
}

body {
    margin-bottom: 149px;
}
