div.page {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-image:  url("../images/jdr/waterfall.gif");
    background-repeat : no-repeat;
    background-position : center;
    background-size : cover;
    color : darkblue;
}

h1, h3 {
    text-align : center;
}

h3 {
    color: blue;
}

.container, .container-fluid {
    background-color: rgba(211, 211, 211, 0.733);
    border-radius : 15px;
}

img.img {
    height: 4em;
    width: 4em;
}

div.cercle {
    height: 4em;
    width: 4em;
    text-align: center;
    background-color: rgb(188, 188, 188);
    border-radius: 50%;
    display: table; 
}

div.cercle #heure {
    display: table-cell;
    vertical-align: middle;
}
