div.page {
    padding-top: 1em;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-image:  url("../images/jdr/waterfall.gif");
    background-repeat : no-repeat;
    background-position : center;
    background-size : cover;
    color : rgb(0, 39, 83);
}

h1, h3 {
    text-align : center;
}

h1 {
    padding-bottom : 20px;
}

h2,h3 {
    color: rgb(194, 116, 0);
    padding-bottom : 8px;

}

a {
    color: darkblue;
}

.container-fluid {
    background-color: rgba(211, 211, 211, 0.95);
    border-radius : 15px;
}

img.img {
    height: 4em;
    width: 4em;
}

div.cercle {
    height: 4em;
    width: 4em;
    text-align: center;
    background-color: rgb(188, 188, 188);
    border-radius: 50%;
    display: table;
}

div.cercle #heure {
    display: table-cell;
    vertical-align: middle;
}

.actif {
    background-color : rgba(236, 173, 120);
    border-radius : 10px;
}

.rouge {
    color : rgb(196, 27, 27);
}

ol {
    list-style-type : none;
}

.img_logo {
    max-width : 150 px;
    max-height : 150 px;
    display : block;
    margin-left : auto;
    margin-right : auto;
    margin-top : 5%;

}



